body {
    background: linear-gradient(135deg, #000 0%, #1a1a2e 100%);
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    max-height: 100vh;

}

h3 {
    color: #ffc107
    text-shadow: 0 0 10px rgba(255, 193, 7, 0.5)
}

.form-control{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffc105;
    color: #fff;
    transition:  all 0.3 ease; 
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: #ffc107;
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 193, 8, 0.5);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.label-control {
    color: #ffc107;
    font-weight: bold;
}

.alert-info

.btn-warning {
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
    background: linear-gradient(45deg, #ffc107, #ffb300);
    color: #000;
}

.btn-warning:hover {
    transform: translate(-3px);
    box-shadow: 0 8px 20px rgba(255, 193, 7, 0.6);
}

.btn-warning:active {
    transform: translateY(-1px);
}


.btn-warning:hover i {
    transform: rotate(90deg);
}

#resultado .card {
    background: #000;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s, ease-in;
    margin-top: 30px;

}

.card-title {
    color: #ffc107;
    text-shadow: 0 0 10px rgba(255, 193, 7, 0.5);
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-body {
    color: #fff;

}

.card-body p {
    font-size: 1rem;
    margin-bottom: 10px;

}

.card-body strong {
    color: #ffc107;
}

#resultado img {
    max-width: 300px;
    border-radius: 20px;
    border: 4px solid #ffc107;
    box-shadow:  0 8px 20px rgba(0, 0, 0, 3);
    transition: transform 0.3seg ease, box-shadow 0.3s ease;
}

#resultado img :hover {
    transform: scale(1,05);
    box-shadow: 0 12px 30px rgba(255, 193, 7, 0.6);

}

::-webkit-scrollbar {
    width: 12px;

}

::-webkit-scrollbar-track {
    background: #000;   
}

::-webkit-scrollbar-thumb {
    color:#ffc107;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb :hover {
    background: #ffc105;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeIn 0.8s ease-in;
    
}
